/*
Colors used:
Primary Color (Grey): #41d4cf;
Secondary Color (Purple): #10206b;
Third Color(Dark grey greenish): #282727;
Fourth color (Greysh green): #25aaa0;
Fifth color (hover,focus): #4455A4
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #41d4cf;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Goldman', cursive;
  /* only font-weight:400;*/
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* End body text  and color styles */
img {
  width: 100%;
}

/* buttons and links styling */
a {
  color: #10206b;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #10206b;
}

a:hover,
a:focus {
  color: #4455A4;
  /*text-decoration: underline; Removed*/
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #282727;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #10206b;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #282727;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #10206b;
  text-transform: uppercase;
  border: 2px solid #10206b;
}

.button.contact:hover {
  background-color: #10206b;
  color: #ffffff;
}

.button.contact:active {
  background-color: #10206b;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#contact {
  text-align: center;
}

#intro h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #25aaa0;
  box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.75);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

nav>ul {
  /* may be wrong? display: inline-block;width: 100%; when added changed nav text position */
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #41d4cf;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #41d4cf;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #41d4cf;
}

#hero {
  background-color: #25aaa0;
  padding: 20px 0;
}

main {
  padding-top: 133px;
}

/* is this right??(down .social)*/
.social>ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
}

.social {
  /*when applied, instagram icon dissapeared and margin appeared */
  background-color: #25aaa0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
