/*
Colors used:
Primary Color (Grey): #41d4cf;
Secondary Color (Purple): #10206b;
Third Color(Dark grey greenish): #282727;
Fourth color (Greysh green): #25aaa0;
Fifth color (hover,focus): #4455A4
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #41d4cf;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Goldman', cursive;
  /* only font-weight:400;*/
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* End body text  and color styles */
img {
  width: 100%;
}

/* buttons and links styling */
a {
  color: #10206b;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #10206b;
}

a:hover,
a:focus {
  color: #4455A4;
  /*text-decoration: underline; Removed*/
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #282727;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #10206b;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #282727;
  /* width of the border, type, color */
  transition: 2.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.3;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*.button:active {} Removed*/
.button.contact {
  background-color: transparent;
  color: #10206b;
  text-transform: uppercase;
  border: 2px solid #10206b;
  margin: 25px 0;
}

.button.contact:hover {
  background-color: #10206b;
  color: #ffffff;
}

.button.contact:active {
  background-color: #10206b;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#contact {
  text-align: center;
}

#intro h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #25aaa0;
  box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.75);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

nav>ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #4a4a4a;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #41d4cf;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #41d4cf;
}

nav a.active {
  color: #10206b !important;
}

#hero {
  background-color: #25aaa0;
  padding: 20px 0;
}

main {
  padding-top: 133px;
}

.social>ul {
  /*display: inline-block;
  width: 100%; Removed*/
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
  padding: 20px 8px;
}

.social {
  background-color: #25aaa0;
  font-size: 48px;
  /*padding: 20px 0; Removed*/
}

/*animation*/
#animation svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 30s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 70s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 90s cloud-move-reverse infinite alternate linear;
}

/* DEVICES */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 11px;
  }

  body {
    font-size: 18px;
  }

  main {
    padding-top: 86px;
  }

  #hero span {
    display: block;
  }

  .work h3 {
    margin: 0 0 0.5em;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 25px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row.story .column {
    padding: 0 25px;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /*.col-lg-6 {
    width: 50%;
  }*/
  .project-page h3, .project-page p {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .project-page img {
    margin: 40px 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
